@import "src/colors.scss";

.Logo {
  margin: 22px;
  cursor: pointer;

  &__text {
    font-family: "Kalimati", sans-serif;
    font-size: 39px;
    font-weight: 700;
    white-space: pre;
    background: linear-gradient(to top, lighten($primary, 10%), $black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}